<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.BeaconMapper">

    <resultMap id="beaconMapper" type="com.tencent.wxcloudrun.model.Beacon">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="classroom" column="classroom"/>
        <result property="x" column="x"/>
        <result property="y" column="y"/>
        <result property="n" column="n"/>
    </resultMap>

    <select id="getBeacons" resultMap="beaconMapper">
        SELECT *
        FROM beacon
    </select>

</mapper>
